.form-container {
    width: 500px;
    height: 700px;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    font-weight: 400px;
    color: #1C2B35;
}

.input-group label {
    display: block;
    margin: 5px 5px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 415px;
    height: 50px;
    box-sizing: border-box;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 6px;
}

.form-submit {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.form-submit:hover {
    background: rgba(255, 153, 0, 0.774);
}

.form-link {
    color: #FF9900;
}

.or-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.or-container p {
    margin: 18px;
}

.border {
    border-bottom: 1px solid #FF9900;
    width: 145px;
    height: 0.9px;
}